/*keyframes loading-spinner */
@keyframes loader {
  99% {
    z-index: 2;
    opacity: 1;
  }
  100% {
    z-index: -1; /* retire le background*/
    opacity: 0; /* retire les boules */
  }
}
@keyframes bounce {
  50% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
  }
}

/* keyframes cards-menu */
@keyframes fondu {
  0% {
    opacity: 0;
  }
  30% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
