$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$fourth-color: rgb(246, 246, 246);
$fifth-color: rgb(230, 230, 230);
$spinner-background: rgba(180, 180, 180, 0.4);

$main-font: "Roboto";
$title-font: "Shrikhand";
