/*2 base*/
@import "./base/base", "./base/font";

/********************/
/******************** GLOBAL ********************/
/********************/
body {
  margin: 0;
}

/********************/
/******************** BLOC PAGE ********************/
/********************/
/*#main_wrapper {}*/

/********************/
/******************** HEADER ********************/
/********************/
header h1 {
  margin: 10px 0px 7px 0px;
  text-align: center;
  font-size: 1.8em;
}

/*********** position ***********/
.position {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 234, 234);
  /* border-top: 1px solid rgb(207, 207, 207); */
  height: 50px;
}
.position i {
  margin-right: 18px;
}
.position span {
  margin-top: 3px;
  font-weight: bold;
}
/********************/
/******************** MAIN ********************/
/********************/

/*********** SECTION 1 ***********/
.reservation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 205px;
  padding: 40px 35px;
  background-color: rgb(246, 246, 246); /* rgb(246, 246, 246)*/
}
.reservation h2,
.reservation div {
  text-align: center;
}
.reservation h2 {
  margin: 0px 0px;
}
.reservation div {
  font-size: 1.1em;
  margin-bottom: 10px;
}


/*********** SECTION 2 ***********/
.section-filtres h2 {
  margin: 46px 0px 0px 20px;
}
.container-filtres {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 265px;
  padding: 30px 20px 68px 20px;
}

.filtres span {
  font-weight: bold;
}
.icone-filtres {
  width: 40px;
  margin-left: 33px;
}
.icone-filtres i {
  font-size: 1.15em;
}
.nombre-filtres {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -12px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
}

/*********** SECTION 3 ***********/
.section-cards {
  background-color: gainsboro;
}
.section-cards h2 {
  padding: 52px 0px 0px 20px;
  margin: 0px;
}
.container-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1058px;
  padding: 22px 20px 64px 20px;
}
.cards {
  height: 250px;
  width: 100%;
  background-color: white;
  border-radius: 16px;
}
.cards img {
  height: 174px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.legende-cards {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.texte-legende {
  margin: 13px 0px 0px 14px;
}
.legende-cards p {
  font-weight: normal;
  margin: 4px 0px 0px 0px;
}
.legende-cards i {
  font-size: 1.4em;
  margin-top: 20px;
  margin-right: 20px;
}

/********************/
/******************** FOOTER ********************/
/********************/
footer {
  color: white;
  background-color: rgb(53, 53, 53);
  padding: 25px;
}
footer h3 {
  margin: 0px 0px 14px 0px;
}
nav {
  display: flex;
  flex-direction: column;
}
nav a {
  color: white;
  margin-bottom: 6px;
}