.footer {
  background-color: rgb(53, 53, 53);
  padding: 25px 25px 27px 25px;
  & img {
    height: 18px;
    width: 98px;
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(5261%) hue-rotate(242deg)
      brightness(108%) contrast(93%);
    margin-bottom: 17px;
  }
  &__icons {
    display: inline-block;
    width: 18px;
  }
  & i {
    font-size: 0.7em;
  }
  @media screen and (min-width: 701px) {
    text-align: center;
    & img {
      height: 25px;
      width: 110px;
      margin-bottom: 25px;
    }
  }
}
nav {
  @include flex(column, flex-start);
  & a {
    color: white;
    margin-bottom: 7px;
  }
  @media screen and (min-width: 701px) {
    @include flex(row, space-around, stretch);
  }
}
