.header {
  @include flex(row, space-between, stretch);
  & img {
    height: 30px;
    width: 164px;
    object-fit: contain;
  }
}
.arrow {
  @include flex-center;
  width: 63px;
  font-size: 1.15em;
  padding-top: 3px;
}
.logo {
  margin: 21px 0px 7px 0px;
}
.center {
  width: 63px;
}
