.button-gradient {
  background: linear-gradient(175deg, $secondary-color, 50%, $primary-color);
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  box-shadow: 3px 5px 7px rgb(196, 196, 196);
}
