.cards-menu {
  @include flex(row, flex-start, center);
  animation: fondu 700ms both;
  position: relative;
  margin-bottom: 15px;
  padding: 0px 0px 0px 11px;
  box-shadow: 0 3px 5px 2px $fifth-color;
  border-radius: 16px;
  background-color: white;
  &__legende {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 12px;
  }
  &__legende p {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 0.85em;
    margin: 0px;
    padding: 4px 0px 13px 0px;
  }
  &__price {
    font-size: 0.8em;
    padding: 26px 23px 9px 10px;
  }
  &__check {
    @include flex-center;
    overflow: hidden; /* cache icone fa */
    width: 0px; /* taille 0 */
    height: 69px;
    background-color: $tertiary-color;
    cursor: pointer;
    border-radius: 0 16px 16px 0;
    transition: all 500ms;
    &__icon {
      @include flex-center;
      transform: rotate(90deg);
      transition: all 500ms;
      font-size: 0.875em;
      color: $tertiary-color;
      background-color: white;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
  &:hover {
    & .cards-menu__check {
      width: 60px;
      flex-shrink: 0;
    }
    & .cards-menu__check__icon {
      transform: rotate(360deg);
    }
  }
  @for $i from 1 through 4 {
    &--#{$i} {
      animation-delay: 200ms * $i;
    }
  }
  @media (min-width: 701px) and (max-width: 1100px) {
    width: 43%;
  }
  @media screen and (min-width: 1101px) {
    width: 305px;
  }
}

.grow {
  flex-grow: 1;
  width: 10px;
}
