.cards-menu {
  @include flex(row, space-between, center);
  margin-bottom: 15px;
  padding: 12px 22px 14px 11px;
  box-shadow: 0 3px 5px 2px $fifth-color;
  border-radius: 16px;

  font-size: 1.1em;
  font-weight: bold;
  background-color: white;
  &__legende p {
    font-weight: normal;
    font-size: 0.85em;
    margin: 3px 0px 0px 0px;
  }
  &__price {
    font-size: 0.8em;
    padding: 18px 0 0 10px;
  }
  @media (min-width: 701px) and (max-width: 1100px) {
    width: 43%;
  }
}
