.cards-menu {
  @include flex(row, flex-start, center);
  position: relative;
  margin-bottom: 15px;
  padding: 0px 0px 0px 11px;
  box-shadow: 0 3px 5px 2px $fifth-color;
  border-radius: 16px;
  background-color: white;
  &__legende {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 12px;
  }
  &__legende p {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 0.85em;
    margin: 0px;
    padding: 4px 0px 13px 0px;
  }
  &__price {
    font-size: 0.8em;
    padding: 26px 23px 9px 10px;
  }
  &__check {
    @include flex-center;
    visibility: hidden;     /* cache icone fa */
    width: 0px;             /* taille 0 */
    height: 69px;
    background-color: $tertiary-color;
    cursor: pointer;
    border-radius: 0 16px 16px 0;
    &__icon {
      background-color: white;
      transform: rotate(0);
    }
  }
  &:hover {
    & .cards-menu__check {
    transition: all 500ms;
    width: 60px;              
    visibility: visible;
    flex-shrink: 0;
    }
    & .cards-menu__check__icon {
      transform: rotate(360deg);
      transition: all 500ms;
    }
  }
  @media (min-width: 701px) and (max-width: 1100px) {
    width: 43%;
  }
  @media screen and (min-width: 1101px) {
    width: 305px;
  }
}

.grow{
  flex-grow: 1;
  width: 10px;
}

