/*** HEADER ***/
.arrow {
  visibility: hidden;
}

/************* MAIN ***********/
/*** SECTION 1 RESERVATION ***/
.reservation {
  @include flex(column, space-between, center);
  padding: 37px 35px 40px 35px;
  background-color: $fourth-color;
  & h1 {
    margin: 0px 0px;
    text-align: center;
    margin-bottom: 16px;
  }
  & div {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 26px;
  }
}
.button-reserver {
  margin: 0px 0 17px 0;
  width: 218px;
}

/*** SECTION 2 STEP ***/
.section-step h2 {
  margin: 46px 0px 0px 20px;
}
.container-step {
  @include flex(column, space-between, center);
  padding: 30px 20px 68px 20px;
}

/*** SECTION 3 cards-home ***/
.section-cards-home {
  background-color: $fourth-color;
  & h2 {
    padding: 52px 0px 0px 20px;
    margin: 0px;
  }
}
.container-cards-home {
  @include flex(column, space-between, stretch);
  padding: 22px 20px 64px 20px;
}

/******************** version MOBILE < 350px ********************/
/******************** version TABLETTE et DESKTOP > 736px *****************/
@media screen and (min-width: 760px){
  .section-step h2 {
    margin: 46px 0px 0px 30px;
  }
  .step {
    margin: 0 0 26px 15px;
  }
  .container-step {
    @include flex(row, space-between, stretch);
    flex-wrap: wrap;
    padding: 30px 30px 68px 30px;
  }
  .section-cards-home {
    & h2 {
      padding: 52px 0px 0px 30px;
    }
  }
  .container-cards-home {
    @include flex(row, space-between, stretch);
    flex-wrap: wrap;
    padding: 22px 30px 64px 30px;
  }
  .cards-home {
    width: 48%;
    margin-bottom: 30px;
  }
}
/******************** version TABLETTE > 736px, < 1101px *****************/
@media (min-width: 760px) and (max-width: 1100px){
  .step {
    width: 46%;
  }
}

/******************** version DESKTOP > 1100px **************/
@media screen and (min-width: 1101px) {
  .step {
    width: 31%;
  }
}










/******************** version TABLETTE > 700px, < 1201px ********************/
/* @media (min-width: 601px) and (max-width: 1200px) */

/******************** version MOBILE < 321px ********************/
/******************** version MOBILE < 601px ********************/
/******************** version MOBILE intermédiaire < 701px ********************/
/******************** version TABLETTE > 600px, < 1201px ********************/

/******************** version MOBILE ET TABLETTE < 1201px ********************/
/*@media (min-width: 601px) and (max-width: 1200px) {
@media screen and (max-width: 600px) {*/