/************************* MAIN *************************/

/*********** SECTION 1 RESERVATION ***********/
.reservation {
  @include flex(column, space-between, center);
  height: 205px;
  padding: 40px 35px;
  background-color: $fourth-color;
}
.reservation h2,
.reservation div {
  text-align: center;
}
.reservation h2 {
  margin: 0px 0px;
}
.reservation div {
  font-size: 1.1em;
  margin-bottom: 10px;
}

/*********** SECTION 2 STEP ***********/
.section-step h2 {
  margin: 46px 0px 0px 20px;
}
.container-step {
  @include flex(column, space-between, center);
  height: 265px;
  padding: 30px 20px 68px 20px;
}

/*********** SECTION 3 cards-home ***********/
.section-cards-home {
  background-color: $fourth-color;
}
.section-cards-home h2 {
  padding: 52px 0px 0px 20px;
  margin: 0px;
}
.container-cards-home {
  @include flex(column, space-between, stretch);
  height: 1058px;
  padding: 22px 20px 64px 20px;
}
.button-nouveau {
  @include flex-center;
  position: absolute;
  top: 13px;
  right: 12px;
  height: 29px;
  width: 80px;
  background-color: $tertiary-color;
  color: rgb(0, 135, 102);
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.8em;
}
