/************** HEADER **************/
.arrow {
  visibility: hidden;
}

/************** MAIN **************/
/************** SECTION 1 RESERVATION **************/
.reservation {
  @include flex(column, space-between, center);
  padding: 37px 35px 40px 35px;
  background-color: $fourth-color;
  & h1 {
    margin: 0px 0px;
    text-align: center;
    margin-bottom: 16px;
  }
  & div {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 26px;
  }
}
.button-reserver {
  margin: 0px 0 17px 0;
  width: 218px;
}

/************** SECTION 2 STEP **************/
.section-step h2 {
  margin: 46px 0px 0px 20px;
}
.container-step {
  @include flex(column, space-between, center);
  padding: 30px 20px 42px 20px;
}

/************** SECTION 3 cards-home **************/
.section-cards-home {
  background-color: $fourth-color;
  & h2 {
    padding: 52px 0px 0px 20px;
    margin: 0px;
  }
}
.container-cards-home {
  @include flex(column, space-between, stretch);
  padding: 22px 20px 43px 20px;
}