body {
  font-family: $main-font, sans-serif;
}
.img-restaurant {
  position: relative;
  height: 218px;
  width: 100%;
  & img {
    position: absolute;
    z-index: -1;
    height: 270px;
    width: 100%;
  }
}

/********* MAIN *********/
main {
  padding: 33px 12px 83px 11px;
  background-color: rgb(246, 246, 246);
  border-radius: 38px 38px 0px 0px;
}
.container-h1 {
  @include flex(row, space-between, baseline);
  & i {
    margin-right: 26px;
  }
}
h1 {
  font-family: $title-font, cursive;
  margin: 0px 0px 4px 10px;
  font-size: 1.67em;
}
h2 {
  font-weight: normal;
  font-size: 1.05em;
  margin: 25px 0px 14px 9px;
  &::after {
    content: "";
    display: block;
    height: 3px;
    width: 42px;
    background-color: $tertiary-color;
    margin-top: 5px;
  }
}
.container-cards {
  @include flex(column, flex-start, stretch);
}
.button-commander {
  margin: auto;
  margin-top: 34px;
}


/******************** version MOBILE < 350px ********************/
/******************** version MOBILE < 701px ********************/
/******************** version TABLETTE > 700px, < 1101px ********************/
@media (min-width: 701px) and (max-width: 1100px){
  main {
    padding: 33px 35px 83px 35px;
  }
  h2 {
   &::after {
   height: 1px;
   width: 100%;
    }
  }
  .container-cards {
    @include flex(row, space-between, stretch);
    flex-wrap: wrap;
  }
  .cards-menu {
    width: 43%;
  }
  .footer {
    text-align: center;
  & img {
    height: 25px;
    width: 110px;
    margin-bottom: 25px;
    }
  }
  nav {
    @include flex(row, space-around, stretch);
 }
}
/******************** version DESKTOP > 1100px **************/
@media screen and (min-width: 1101px) {
  #main_wrapper {
    margin: auto;
    max-width: 1400px;
  }
  .img-restaurant {
    height: 250px;
    & img {
      height: 302px;
    }
  }
   .container-sections{
    @include flex(row, space-around, stretch);
  }
  display: flex;
  justify-content: center;
  @include flex(row, center);
  .footer {
    text-align: center;
  & img {
    height: 25px;
    width: 110px;
    margin-bottom: 25px;
    }
  }
  nav {
    @include flex(row, space-around, stretch);
  }
}
/******************** version MOBILE ET TABLETTE < 1201px **************/

